@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-h {
    font-family: "Kranky", serif;
    font-weight: 600;
    font-style: italic;
}

.font-m{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.font-f{
    font-family: "Kranky", serif;
    font-weight: 600;
    font-style: normal;
}

.encabezado {
    background-image: url("../assets/img/encabezado.jpg") ;
    height: 11.6875rem;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .625rem;
}

.navbar {
    display: flex;
    gap: 15.625rem;
    background-color: #D9D9D9;
    list-style: none;
    margin: .625rem;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-right: 3.125rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Kranky", serif;
    font-weight: 600;
    font-style: normal;
    margin: 1.25rem;
    font-size: 3.125rem;
}

.orden-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 {
    width: 34.5rem;
    height: 19.9375rem;
    margin: .625rem;
}
.img-2 {
    width: 23.125rem;
    height: 22.4375rem;
    margin: .625rem;
}
.img-3 {
    width: 22.25rem;
    height: 33.4375rem;
    margin: .625rem;
}

.producto img {
    width: 38.375rem;
    height: 33.4375rem;
    margin: .625rem 8.75rem;
}

p{
    font-size: 2rem;
    margin: .625rem;
}


.pie-pagina {
    background-color: #D9D9D9;
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    height: 7.9375rem;
    font-size: 2rem;
}

.pie-pagina img {
    height: 5rem;
    width: 5rem;
}

.pie-pagina a {
    font-size: 2.5rem;
    margin-left: 10;
    margin: 1.25rem;
}
.orden-redes {
    display: flex;
    align-items: center;
    text-align: center;
}

.peinados {
    display: flex;
    text-align: justify;
}

.img-4{
    width: 25rem;
    height: 21.875rem;
    margin: .625rem;
}

.img-5 {
    width: 25rem;
    height: 28.125rem;
    margin: .625rem;
}

.icons button{
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    list-style: none;
}

.icons ul {
    display: flex;
    list-style: none;
    padding: 2.1875rem;
}

.icons img {
    display: flex;
    list-style: none;
    padding: .625rem;
    width: 6.25rem;
    align-items: center;    
}

.videos{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: .625rem 2.1875rem;
    gap: 31.25rem;
}

.img-6 {
    width: 45.4375rem;
    height: 74.5rem;
    padding: .625rem;
}

.img-7 {
    width: 45.4375rem;
    height: 47rem;
    padding: .625rem;
}